* {
    margin: 0;
    padding: 0;
}
html body {
    background-color: #F5F5F5;
}
body, html {
    margin: 0; 
    padding: 0;
}

@media (min-width:700px) {
    .intro {
        display: none;
    }
}
@media (max-width:700px) {
    .intro {
        position: fixed;
        display: grid;
        place-items: center;
        width: 100%;
        bottom: 0;
        height: 120px;
        color: white;
        background-color: black;
        opacity: 80%;
        z-index: 2000;
    }
}

.navbar-left {
    display: flex;
    align-items: center;
    margin-left: 40px;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #e7e7e7;
    background-color: white;
        padding: 0;
}

.pfp {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid #333;
    margin-right: 10px;
}

.pfp img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.navbar-brand {
    font-size: 25px !important;
    font-family: Lilita one;
    text-align: Center;
    color: #001f3f !important;
}
.pfp:hover {
    transform: scale(3); /* Zoom the image on hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Add shadow for emphasis */
    z-index: 10; /* Ensures the image is above other elements */
}

.navbar {
    margin: 0 !important; /* Override Bootstrap's margin */
    padding: 0 !important; /* Override Bootstrap's padding */
    position: fixed !important; /* Ensure fixed positioning */
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Stay above other elements */
    box-shadow: 0 4px 10px rgba(1, 1, 1, 0.1);
}
h2{
    color: black  !important;
}
h4{
    color: black  !important;
}
h5{
    color: black  !important;
}

@media (max-width: 1250px) {
        .cv {
            width: 95%;
            margin-left: auto;
            margin-right: auto;
        } 
}
@media (max-width: 1650px) and (min-width:1250px){
    .cv {
            width: 70%;
            margin-left: auto;
            margin-right: auto;
        }
}
@media (min-width: 1650px) {
    .cv {
        width: 55%;
        margin-left: auto;
        margin-right: auto;
    }
}
.namecontact {
    display: grid;
    place-items: center;
    margin-top: 100px;
    text-align: center;
}
.namecontact img {
    width: 200px;
    height: 100%;
}
.education {
    margin-top: 20px;
    position: relative;
}
.college {
    border-top: 1px solid #333;
}
.collegei {
    padding-left: 20px;
}
.colleger {
    position: absolute;
    top: 30px;
    right: 0;
    text-align: right;
}
.highschool {
    position: relative;
}
.highschooli {
    margin-left: 20px;
}
.highschoolr {
    position: absolute;
    top: -10px;
    right: 0;
    text-align: right;
}
.workexperience {
    padding-top: 15px;
}
.SSS {
    border-top: 1px solid #333;
    position: relative;
}
.SSSi {
    padding-left: 20px;
}
.SSSi i {
    padding-bottom: 10px;
}
.SSSr {
    position: absolute;
    top: 0px;
    right: 0;
    text-align: right;
}
.affiliation {
    padding-top: 15px;
}
.mikrotik {
    border-top: 1px solid #333;
    position: relative;
}
.mikrotiki {
    padding-left: 20px;
}
.mikrotiki i {
    padding-bottom: 10px;
}
.mikrotikr {
    position: absolute;
    top: 0px;
    right: 0;
    text-align: right;
}
.ascpe {
    position: relative;
}
.ascpei {
    padding-left: 20px;
}
.ascpei i {
    padding-bottom: 10px;
}
.ascper {
    position: absolute;
    top: 0px;
    right: 0;
    text-align: right;
}
.ascpe2 {
    margin-top: 15px;
    position: relative;
}
.ascpei2 {
    padding-left: 20px;
}
.ascpei2 i {
    padding-bottom: 10px;
}
.ascper2 {
    position: absolute;
    top: 0px;
    right: 0;
    text-align: right;
}
.icpep {
    position: relative;
}
.icpepi {
    padding-left: 20px;
}
.icpepi i {
    padding-bottom: 10px;
}
.icpepr {
    position: absolute;
    top: 0px;
    right: 0;
    text-align: right;
}
.skills {
    margin-top: 20px;
    border-top: 1px solid #333;
}
.skills li {
    margin-left: 10px;
}
i {
    width: 30% !important;
}