* {
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
    background-color: gray;
    margin: 0; 
    padding: 0;
}

.navbar-left {
    display: flex;
    align-items: center;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #e7e7e7;
    background-color: white;
}


.pfp {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid #333;
    margin-right: 10px;
}

.pfp img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.navbar {
    margin: 0;
    padding: 0;
}

.bg {
    background-repeat: no-repeat;
    width: 100%;
    margin-top: 0; 
    margin-top: -20px;
}
