* {
    margin: 0;
    padding: 0;
}
html body {
    background-color: #F5F5F5;
}
body, html {
    margin: 0; 
    padding: 0;
}

@media (min-width:700px) {
    .intro {
        display: none;
    }
}
@media (max-width:700px) {
    .intro {
        position: fixed;
        display: grid;
        place-items: center;
        width: 100%;
        bottom: 0;
        height: 120px;
        color: white;
        background-color: black;
        opacity: 80%;
        z-index: 2000;
    }
}

.navbar-left {
    display: flex;
    align-items: center;
    margin-left: 40px;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #e7e7e7;
    background-color: white;
        padding: 0;
}

.pfp {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid #333;
    margin-right: 10px;
}

.pfp img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.navbar-brand {
    font-size: 25px !important;
    font-family: Lilita one;
    text-align: Center;
    color: #001f3f !important;
}
.pfp:hover {
    transform: scale(3); /* Zoom the image on hover */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Add shadow for emphasis */
    z-index: 10; /* Ensures the image is above other elements */
}

.navbar {
    margin: 0 !important; /* Override Bootstrap's margin */
    padding: 0 !important; /* Override Bootstrap's padding */
    position: fixed !important; /* Ensure fixed positioning */
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Stay above other elements */
    box-shadow: 0 4px 10px rgba(1, 1, 1, 0.1);
}

.white{
    height: 800px;
    background-color: white;
    width: 100%;
}
.bg {
    background-repeat: no-repeat;
    width: 70%;
    margin-top: -20px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}
.bg img {
    width: 100%;
    height: 100%;
}

.quote {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}
.quote h1 {
    font-family: fantasy;
    font-size: 80px;
    color: #fff; 
}
@media (max-width: 1215px) {
      .quote h1 {
        font-family: fantasy;
        font-size: 40px;
        color: #fff; 
        }
}
@media (max-width: 615px) {
    .quote h1 {
        font-family: fantasy;
        font-size: 20px;
        color: #fff; 
        }
    .bg {
            background-repeat: no-repeat;
            width: 100%;
            margin-top: -20px;
            text-align: center;
        }
        .bg img {
            width: 100%;
            height: 100%;
            display: inline-block;
        }
}
.opening {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}
.opening h1 {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    color: black;
    font-weight: 700;
    text-align: Center;
}


.opening p {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    color: black;
    text-align: Center;
    font-size: 18px;
}
.btns {
    margin-top: 3%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btns a{
    margin: 10px;
    padding: 10px;
    font-size: 18px;
    border-radius: 10px;
    background-color: black;
    color: white;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-weight: 700;
}
.btns a:hover {
    background-color: white;
    color: #333;
    text-decoration: none;
}
.skills {
    width: 100%;
    align-items: center;
    justify-content: center;

}
.skills li {
    list-style: none;
    float: left;
    margin: 10px;
    padding: 20px;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    color: black;
    text-align: Center;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 8px;
    pointer-events: none;
}
.section2 {
    margin-top: 180px;
    width: 100%;
    background-color: #6a89a7;
}


.skillssection {
    width: 1000px;
    height: 700px;
    background-color: white;
    display: flex;
    border-radius: 50px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    margin-top: -100px;
    position: absolute;
    left: 50%; 
    transform: translateX(-50%);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.skillssection img {
    width: 100%;
    height: 100%;
}
.skillssection div {
    margin-left: 50px;
    margin-top: 50px;
    background-color: white;
    width: 60%;
    height: 100%;
}
.skillssection h1 {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    color: black;
    font-weight: 700;
    text-align: center;
}
.skillssection p {
    margin: 5%;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    color: black;
    text-align: Center;
    font-size: 18px;
}
@media (max-width: 1054px) {
      .skillssection img {
            display: none;
        }
        .skillssection {
            width: 100%;
            height: 700px;
            background-color: white;
            display: flex;
            border-radius: 50px;
            overflow: hidden;
            margin-top: -100px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }
        .skills {
            width: 100%;
            align-items: center;
            padding: 0;
            text-align: center;
        }
        .skillssection div {
            margin-left: 50px;
            margin-top: 50px;
            background-color: white;
            width: 100%;
            height: 100%;
        }

}
.setter {
    position: relative;
    width: 100%;
    height: 600px;
}
.courses {
    position: relative;
    width: 100%;
    margin-top: 50px;

}
.courses h1 {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    color: white;
    font-weight: 700;
    text-align: Center;
}
.courses p {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    color: white;
    text-align: Center;
    font-size: 18px;
}
@media (min-width: 1200px) {
    .JHU div {
        padding-top: 50px;
        width: 50%;
        position: relative;
        background-color: white;
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        margin-left: -200px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
    .JHU h1 {
        font-family: 'Helvetica Neue', Arial, sans-serif;
        color: #001f3f;
        font-weight: 700;
        text-align: Center;
        margin-bottom: 20px;
    }
        .JHU p {
        font-family: 'Helvetica Neue', Arial, sans-serif;
        color: black;
        text-align: Center;
        font-size: 18px;
        margin-bottom: 30px;
    }
    .Chtml {
        max-width: 60% ; 
        height: auto;
    }
    .UST div {
        padding-top: 50px;
        width: 50%;
        position: relative;
        background-color: white;
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
    .UST h1 {
        font-family: 'Helvetica Neue', Arial, sans-serif;
        color: #001f3f;
        font-weight: 700;
        text-align: Center;
        margin-bottom: 20px;
        font-size: 20px;
    }
    .UST p {
        font-family: 'Helvetica Neue', Arial, sans-serif;
        color: black;
        text-align: Center;
        font-size: 18px;
        margin-bottom: 30px;
    }
    .ou {
        height: 1000px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    }

    .OU {
            margin-right: -15px;
            margin-top: 50px;
            position: relative;
            padding: 0;
            display: inline-flex;
            max-height: 1400px;
            left: 50%;
            transform: translateX(-50%);
            margin-bottom: 300px;
        }
        .OU div {
            padding-top: 50px;
            width: 700px;
            position: relative;
            background-color: white;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            margin-left: 100px;

        }
        .OU h1 {
            font-family: 'Helvetica Neue', Arial, sans-serif;
            color: #001f3f;
            font-weight: 700;
            text-align: Center;
            margin-bottom: 20px;
        }
        .OU p {
            font-family: 'Helvetica Neue', Arial, sans-serif;
            color: black;
            text-align: Center;
            font-size: 18px;
            margin-bottom: 30px;
        }
        .OU article {
            font-family: 'Helvetica Neue', Arial, sans-serif;
            color: black;
            text-align: center;
            font-size: 13px;
            margin-top: 10px;
            margin-bottom: 30px;
        }
    }
/*small screen */
@media (max-width: 1200px) {
    .btns a{
        margin: 10px;
        padding: 10px;
        font-size: 15px;
        border-radius: 10px;
        background-color: black;
        color: white;
        font-family: 'Helvetica Neue', Arial, sans-serif;
        font-weight: 700;
    }
    .JHU {
        width: 100%;
        background-color: white;
        justify-content: center;
        text-align: center;
    }
    .jhudiv {
        text-align: center;
    }
    .jhudiv img {
        display: inline-block;
    }
    .jhu {
        display: none;
    }
    .JHU div {
        width: 100%;
        justify-content: center;
    }
    .JHU h1 {
        font-family: 'Helvetica Neue', Arial, sans-serif;
        color: #001f3f;
        font-weight: 700;
        text-align: Center;
        margin-bottom: 20px;
        font-size: 20px;
    }
    .JHU h2 {
        font-size: 18px;
        text-align: center;
    }
    .JHU h4 {
        text-align: center;
    }
    .JHU p {
        font-family: 'Helvetica Neue', Arial, sans-serif;
        color: black;
        text-align: Center;
        font-size: 14px;
        margin-bottom: 30px;
    }
    .jhulogo {
        width: 300px;
    }
    .Chtml {
        width: 450px; 
        height: auto;
    }
    .UST {
        width: 100%;
        background-color: white;
        justify-content: center;
    }
    .UST h1 {
        font-family: 'Helvetica Neue', Arial, sans-serif;
        color: #001f3f;
        font-weight: 700;
        text-align: Center;
        margin-bottom: 20px;
        font-size: 20px;
    }
    .UST p {
        font-family: 'Helvetica Neue', Arial, sans-serif;
        color: black;
        text-align: Center;
        font-size: 14px;
        margin-bottom: 30px;
    }
    .UST h2 {
        font-size: 18px;
    }
    .ust {
        display: none;
    }
    .ou {
        height: 700px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    }

    .OU {
            margin-top: 50px;
            position: relative;
            padding: 0;
            max-height: 1400px;
            margin-bottom: 300px;
    }
    .OU div {
        display: none;
    }

}

.JHU {
    margin-right: -15px;
    margin-top: 50px;
    position: relative;
    padding: 0;
    display: inline-flex;
    max-height: 1400px;
}
.jhu {
    width: 60%;
    height: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}



.JHU article {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    color: black;
    text-align: Center;
    font-size: 13px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.UST {
    margin-top: 50px;
    position: relative;
    padding: 0;
    display: inline-flex;
    max-height: 1400px;
    margin-right: -15px;
}
.ust {
    max-width: 60%;
    height: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-left: -200px;

}

.coursera {
    width: 350px;
}


.UST article {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    color: black;
    text-align: Center;
    font-size: 13px;
    margin-top: 10px;
    margin-bottom: 30px;
}
.divider {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    color: White;
    font-weight: 700;
    text-align: Center;
    margin-bottom: 100px;
    margin-top: 100px;
    font-size: 100px;
}

.OU {
        margin-right: -15px;
        margin-top: 50px;
        position: relative;
        padding: 0;
        display: inline-flex;
        max-height: 1400px;
        left: 50%;
        transform: translateX(-50%);
        margin-bottom: 300px;
    }


.oulogo {
    width:250px;
}

.lessons {
    width: 700px;
}
.section3 {
    text-align: center;

}
.seminar {
    margin-top: -100px;
    position: relative;
    text-align: center;
}
.seminarsjpg {
    width: 800px;
    border-radius: 50px;
    overflow: hidden;
    box-shadow: 0 4px 10px rgba(1, 1, 1, 0.1);
}
.seminar h1 {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    color: #333;
    font-weight: 700;
    text-align: Center;
    margin-bottom: 20px;
    margin-top: 50px;
}
.seminar p {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    color: #333;
    text-align: Center;
    font-size: 18px;
    margin-bottom: 30px;
}


@media (min-width: 1200px) {
      .first {
            position: relative;
            display: flex;
            margin-top: 100px;
            width: 100%;

        }
        .erouvotika{
            width: 400px;
            margin-left: 50px;
            box-shadow: 0 4px 10px rgba(1, 1, 1, 0.1);
        }
        .erouvotika2{
            width: 400px;
            height: 100%;
            margin-top: auto;
            margin-bottom: auto;
            box-shadow: 0 4px 10px rgba(1, 1, 1, 0.1);
            margin-left: -100px;
        }
        .second {
            position: relative;
            display: flex;
            margin-top: 100px;
            width: 100%;
        }
        .third {
            position: relative;
            display: flex;
            margin-top: 100px;
            width: 100%;
        }
        .bannercontainer {
            width: 100%;
            box-shadow: 0 4px 10px rgba(1, 1, 1, 0.1);
            overflow: hidden;
            display: grid;
            place-items: center;
        }
        .banner {
            width: 100%;

        }
}
/*small screen*/
@media (max-width: 1200px) {
        .first {
            margin-top: 100px;
            width: 100%;
            position: relative;
        }
        .erouvotika{
            width: 400px;
            box-shadow: 0 4px 10px rgba(1, 1, 1, 0.1);
        }
        .erouvotika2{
            width: 400px;
            height: 100%;
            margin-top: auto;
            margin-bottom: auto;
            box-shadow: 0 4px 10px rgba(1, 1, 1, 0.1);
        }
        .second {
            position: relative;
            margin-top: 100px;
            width: 100%;
            display: flex;
            justify-content: center;
            display: grid;
            grid-template-areas: 
                "header"
                "main"
                "footer";
        }
        .secondT {
            grid-area: header;
            margin: 0;
        }

        .darnell {
            width: 100%;
            grid-area: footer;
            margin: 0;
        }
        .third {
            position: relative;
            margin-top: 100px;
            width: 100%;
        }
        .bannercontainer {
            width: 100%;
            box-shadow: 0 4px 10px rgba(1, 1, 1, 0.1);
            overflow: hidden;
            display: grid;
            place-items: center;
        }
        .banner {
            width: 200%;
        }
        .seminarsjpg {
            width: 100%;
            border-radius: 50px;
            overflow: hidden;
            box-shadow: 0 4px 10px rgba(1, 1, 1, 0.1);
        }
        .seminar {
            margin-top: -100px;
            position: relative;
            text-align: center;
            width: 100%;
            overflow: hidden;
        }
        .section2 {
            overflow: hidden;
            width: 100%;
        }
        .section4 {
            margin-top: -100px;
            position: relative;
            text-align: center;
            width: 100%;
            overflow: hidden;
        }
    }


.first div {
    margin: auto;
    align-items: center;
    padding: 50px;
}
.firstT img{
    width: 100px;
}
.firstT {
    align-items: center;
}

.secondT img{
    width: 100px;
}

.darnell{
    width: 500px;
    margin: 50px;
    box-shadow: 0 4px 10px rgba(1, 1, 1, 0.1);
}
.divider2 {
    font-size: 50px;
}

.third div {
    margin: auto;
    align-items: center;
    padding: 50px;
}
.thirdT img{
    width: 100px;
}
.section4 {
    text-align: center;
}

.divider3 {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    color: #333;
    font-weight: 700;
    text-align: Center;
    margin-bottom: 100px;
    margin-top: 100px;
    font-size: 100px;

}
.section4 {
}
.laptop { 
    padding-top: 100px;
    background-color: #e8e9eb;
}

.laptop h1 {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    color: #333;
    font-weight: 700;
    text-align: Center;
    margin-top: 50px;
}


.laptop ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    padding: 0;
    margin: 0;
}

.laptop li {
    margin: 10px; 
    padding: 20px;
    list-style: none;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    color: black;
    font-size: 18px;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
}
.laptop2 { 
    padding-top: 100px;
    background-color: #f0f1f3;
}

.laptop2 h1 {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    color: #333;
    font-weight: 700;
    text-align: Center;
    margin-top: 50px;
}
.laptop2 h2 {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    color: #333;
    font-weight: 600;
    text-align: Center;
    margin-bottom: 20px;
    margin-top: 50px;
}

.laptop2 ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    padding: 0;
    margin: 0;
}

.laptop2 li {
    margin: 10px; 
    padding: 20px;
    list-style: none;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    color: black;
    font-size: 18px;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
}
@media (min-width: 1200px) {
    .laptopA {
        display: flex;
        align-items: center; 
    }
    .laptop2 p {
        font-family: 'Helvetica Neue', Arial, sans-serif;
        color: #333;
        text-align: Center;
        font-size: 18px;
        margin-bottom: 30px;
    }
    .laptop p {
        font-family: 'Helvetica Neue', Arial, sans-serif;
        color: #333;
        text-align: Center;
        font-size: 18px;
        margin-bottom: 30px;
    }
    .packetworx{
        width: 500px;
        margin: 50px;
        box-shadow: 0 4px 10px rgba(1, 1, 1, 0.1);
    }
    .l1app {
        width: 600px;
    }
    .meddispng {
        width: 600px !important;
        margin-left: -20px;
    }
    .l2 img {
        width: 200px;
        margin-bottom: -50px;
    }
    .laptopB img {
       width:70px;
    }
    .laptop h2 {
        font-family: 'Helvetica Neue', Arial, sans-serif;
        color: #333;
        font-weight: 600;
        text-align: Center;
        margin-bottom: 20px;
        margin-top: 50px;
    }
    .second div {
        margin: auto;
        align-items: center;
        padding: 50px;
    }



}
/*small screen */
@media (max-width: 1200px) {
    .laptopA {
        align-items: center; 
    }
    .laptop2 p {
        font-family: 'Helvetica Neue', Arial, sans-serif;
        color: #333;
        text-align: Center;
        font-size: 13px !important;
        margin-bottom: 30px;
    }
    .laptop p {
        font-family: 'Helvetica Neue', Arial, sans-serif;
        color: #333;
        text-align: Center;
        font-size: 13px;
        margin-bottom: 30px;
    }
    .packetworx{
        width: 100%;
        box-shadow: 0 4px 10px rgba(1, 1, 1, 0.1);
    }
    .l1app {
        width: 100%;
    }
    .l2 img {
        width: 300px;
        margin-bottom: -50px;
    }
    .laptopB img {
       width:40px;
    }

}
@media (max-width: 640px) {
    .meddispng {
        width: 300px !important;
        margin-left: -20px;
    }
    .laptop h2 {
        font-family: 'Helvetica Neue', Arial, sans-serif;
        color: #333;
        font-weight: 600;
        text-align: Center;
        margin-bottom: 20px;
        margin-top: 50px;
        font-size: 15px;
    }
    .laptopB h2 {
        font-family: 'Helvetica Neue', Arial, sans-serif;
        color: #333;
        font-weight: 600;
        text-align: Center;
        margin-bottom: 20px;
        margin-top: 50px;
        font-size: 15px;
    }
    .l2 img {
        margin-top: -100px;
        width: 150px;
        margin-bottom: -50px;
    }
    .darnell{
        width: 500px;
        box-shadow: 0 4px 10px rgba(1, 1, 1, 0.1);
    }
    .second div {
        margin: auto;
        align-items: center;
        padding: 0;
    }
}

/* ---------------------------------------------------------------- */

.l1 {
    width: 100%;
    padding: 50px;

}
.l2 {
    width: 100%;
    padding: 100px;
    text-align: center;
}


.laptopB {
    display: flex;
    justify-content: center;
    padding: 100px;
    padding-top: 0px;
}
.laptopB div {
    margin: 20px;
}
